.storelocator {
    .detail-store {
        position: relative;
        font-size: 13px;

        span {
            display: block;
            font-weight: 400;

            &:last-child {
                padding-bottom: 0;
            }
        }

        a {
            text-decoration: none;
            color: #000;
        }

        .store-title {
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 16px;

            span {
                display: inline;
            }
        }

        .store-distance {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            color: #9a9a9a;

            span {
                display: inline-block;
                vertical-align: top;
                margin-top: 2px;
            }

            .store-icon-route {
                fill: #9a9a9a;
                width: 20px;
                margin-left: 10px;
            }
        }

        .store-zipcode,
        .store-city {
            display: inline-block;
            vertical-align: top;
        }

        .store-address,
        .store-zipcode,
        .store-city,
        .store-phone {
            padding-bottom: 12px;
        }
    }
}

@media screen and (max-width: var(--breakpointModile)) {
    .storelocator {
        .detail-store {
            font-size: 14px;
        }
    }
}
