@import "./vars";

.storelocator {
    &-detailStore {
        position: relative;
        font-size: 13px;
    }

    &-detailStoreTitle {
        margin-bottom: 10px;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        display: block;

        a {
            text-decoration: none;
            color: #000;
        }

        span {
            display: inline;
        }
    }

    &-detailStoreDistance {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: #9a9a9a;

        span {
            display: inline-block;
            vertical-align: top;
            margin-top: 2px;
        }
    }

    &-detailStoreIconRoute {
        fill: #9a9a9a;
        width: 20px;
        margin-left: 10px;
    }

    &-detailStoreCity {
        display: inline-block;
        vertical-align: top;
        padding-bottom: 12px;
    }

    &-detailStoreAddress {
        display: block;
        padding-bottom: 12px;
    }

    &-detailStoreZipcode {
        padding-bottom: 12px;
    }

    &-detailStorePhone {
        display: block;

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

@media screen and (max-width: var(--breakpointModile)) {
    .storelocator {
        &-detailStore {
            font-size: 14px;
        }
    }
}
