@import "./vars";

.storelocator {
    &-formSearch {
        position: relative;
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: #fff;
    }

    &-inputSearch {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        font-size: 15px;
        margin-bottom: 20px;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
    }

    &-formFilters {
        label {
            position: relative;
            padding: 5px 5px 6px 37px;
            font-size: 14px;
            cursor: pointer;

            &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                border: 1px solid var(--colorFilters);
                border-radius: 3px;
                border-width: 2px;
            }

            &::after {
                content: '';
                display: block;
                opacity: 0;
                position: absolute;
                width: 14px;
                height: 14px;
                top: 5px;
                left: 5px;
                border-radius: 3px;
                transition: opacity 200ms ease-out;
                background-color: var(--colorFilters);
            }
        }

        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            top: 4px;
            left: 4px;

            &:checked + label::after {
                opacity: 1;
            }
        }
    }

    &-formFiltersRow {
        display: flex;
        align-items: center;
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }
    }

    &-formCheckbox {
        font-size: 13px;
        position: relative;
        display: block;
        width: 50%;
        padding: 4px 0;
    }
}

@media (--media-tablet) {
    .storelocator {
        &-formSearch {
            position: absolute;
            top: 20px;
            left: 20px;
            width: var(--widthFormSearch);
            height: var(--heightFormSearch);
            z-index: 5;
            border-radius: 5px 5px 0 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
        }
    }
}
