.storelocator {
    .wrapper-info-window {
        padding: 20px 0 20px 20px;

        .store-picture {
            margin-bottom: 20px;
            display: block;
            max-width: 250px;

            a {
                display: block;
                width: 100%;
                height: auto;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .detail-store {
            max-width: 250px;

            .store-title {
                padding-right: 90px;
            }

            .store-distance {
                top: 1px;
                transform: none;
            }

            .store-website:hover {
                text-decoration: underline;
            }
        }
    }
}
