@import "./vars";

.storelocator {
    &-infoWIndow {
        padding: 20px 0 20px 20px;

        .store-picture {
            margin-bottom: 20px;
            display: block;
            max-width: 250px;

            a {
                display: block;
                width: 100%;
                height: auto;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        &-detailStore {
            max-width: 250px;

            .store-website:hover {
                text-decoration: underline;
            }
        }

        &-detailStoreTitle {
            padding-right: 90px;
        }

        &-detailStoreDistance {
            top: 1px;
            transform: none;
        }
    }
}
