@import "./vars";

.storelocator {
	&-googleMaps {
		position: relative;
		height: 0;
		padding-top: 100%;
		display: none;
		overflow: hidden;
		width: 100%;

		&.active {
			display: block;
		}

		#storelocator-mapCanvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}

	&-geolocButton {
		position: absolute;
		right: 10px;
		bottom: 97px;
		width: 30px;
		height: 30px;
		background-color: #fff;
		z-index: 5;
		border: none;
		cursor: pointer;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 18px;
			height: 18px;
		}

		&.active svg {
			fill: #1a73e8;
		}
	}

	.markerIcon {
		position: relative;
	}
}

@media (--media-tablet) {
	.storelocator {
		&-googleMaps {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-top: 0;
		}
	}
}
