@import "./vars";

.storelocator {
	&-googleMaps {
		position: relative;
		height: 0;
		padding-top: 100%;
		display: none;
		overflow: hidden;
		width: 100%;

		&.active {
			display: block;
		}

		#storelocator-googleMapsCanvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}

	&-geolocButton {
		position: absolute;
		right: 10px;
		bottom: 97px;
		width: 30px;
		height: 30px;
		background-color: #fff;
		z-index: 5;
		border: none;
		cursor: pointer;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 18px;
			height: 18px;
		}

		&.active svg {
			fill: #1a73e8;
		}
	}

	.markerIcon {
		position: relative;

		&-index {
			position: absolute;
			top: 5px;
			left: 50%;
			transform: translateX(-50%);
			color: #fff;
		}
	}

	.leaflet-marker-icon {
		&.userLocation {
			svg {
				fill: #4285f4;
			}
		}
	}

	.leaflet-control-zoom {
		border: none;

		.leaflet-control-zoom-in,
		.leaflet-control-zoom-out {
			border: none;
			box-shadow: none;
		}
	}
}

@media (--media-tablet) {
	.storelocator {
		&-googleMaps {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-top: 0;
		}
	}
}
