@import "./vars";

.storelocator {
    &-nav {
        height: 40px;
        position: relative;
        z-index: 10;
    }

    &-navList {
        display: flex;
        align-items: center;
        text-align: center;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    &-navButton {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        color: var(--grey);
        border: 0;
        -webkit-appearance: none;
        font-size: 16px;
        font-family: inherit;
        cursor: pointer;
        background: none;
        outline: none;
    }

    &-navListItem {
        width: 50%;
        height: 100%;
        list-style-type: none;
        border-bottom: 1px solid var(--grey);

        &.active {
            border-bottom: 2px solid #000;

            .storelocator-navButton {
                color: #000;
            }
        }
    }
}

@media (--media-tablet) {
    .storelocator {
        .storelocator-nav {
            display: none;
        }
    }
}
