@import "./vars";

.storelocator {
    &-navBorder {
        transition: width 200ms ease-in;
        width: 0%;
        height: 2px;
        background-color: #484848;
        position: absolute;
        bottom: 0;
    }

    &-nav {
        height: 40px;
        position: relative;
        z-index: 10;
    }

    &-navList {
        display: flex;
        align-items: center;
        text-align: center;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    &-navListItem {
        width: 50%;
        height: 100%;
        list-style-type: none;
    }

    &-navButton {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        color: #c9c6c6;
        border: 0;
        -webkit-appearance: none;
        font-size: 16px;
        font-family: inherit;
        cursor: pointer;

        &.active {
            color: #000;
        }
    }
}

@media (--media-tablet) {
    .storelocator {
        .storelocator-nav {
            display: none;
        }
    }
}
