.storelocator {
	&-sidebarResults {
		display: none;
		overflow: auto;
		height: 100%;
		border-top: 1px solid #e7e7e7;
	}

	&-sidebar {
		position: relative;
		flex-direction: column;
		z-index: 5;
		background: #fff;
		display: none;

		&.active {
			display: block;

			.storelocator-sidebarResults {
				display: block;
			}
		}
	}

	&-sidebarResultsListItem {
		display: block;
		padding: 20px;
		border-top: 1px solid #e7e7e7;

		&:first-child {
			border-top: none;
		}
	}

	&-sidebarResultsList {
		padding: 0;
		margin: 0;
	}

	&-sidebarNoResults {
		margin: 0;
		padding: 20px;
		font-size: 13px;
		line-height: 20px;
		color: var(--grey);
		font-style: italic;
	}
}

@media (--media-tablet) {
	.storelocator {
		&-sidebar {
			position: absolute;
			top: 20px;
			left: 20px;
			width: 350px;
			height: 100%;
			max-height: calc(100% - 40px);
			border-radius: 0 0 5px 5px;
			background-color: #fff;
			box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
		}

		&-sidebarResults {
			display: block;
		}
	}
}
