@import "./vars";

.storelocator {
    &-sidebar {
        position: relative;
    }

    &-sidebarResults {
        overflow: auto;
        height: 100%;
        border-top: 1px solid #e7e7e7;
    }

    &-sidebarResultsListItem {
        display: block;
        padding: 20px;
        border-top: 1px solid #e7e7e7;

        &:first-child {
            border-top: none;
        }
    }

    &-sidebarResultsList {
        padding: 0;
        margin: 0;
    }

    &-sidebarNoResults {
        margin: 0;
        padding: 20px;
        font-size: 13px;
        line-height: 20px;
        color: var(--grey);
        font-style: italic;
    }

    &-sidebarIntro {
        font-size: 13px;
        line-height: 20px;
        font-style: italic;
        padding: 10px 20px;
        color: var(--grey);
        margin: 0;
    }
}

@media (--media-tablet) {
    .storelocator {
        &-sidebar {
            position: absolute;
            top: calc(var(--heightFormSearch) + 20px);
            left: 20px;
            width: var(--widthFormSearch);
            height: calc(100% - var(--heightFormSearch) - 40px);
            z-index: 5;
            border-radius: 0 0 5px 5px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
        }
    }
}
