@import "./vars";

html,
body {
    height: 100%;
    margin: 0;
}

.storelocator {
    position: relative;
    height: 100%;
    font-family: 'Roboto', arial, sans-serif;
}

@media screen and (max-width: var(--breakpointModile)) {
    html,
    body {
        height: auto;
    }

    .storelocator {
        height: auto;
    }
}
