html,
body {
	height: 100%;
	margin: 0;
}

.storelocator {
	position: relative;
	height: 100%;

	&,
	* {
		box-sizing: border-box;
	}
}

@media (--media-tablet) {
	html,
	body {
		height: 100%;
	}

	.storelocator {
		height: 100%;
	}
}
