/* Override default theme */

/* Head Download page : License blocs */
.md-container .License-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
}

.md-container .License-list li {
    width: calc(33.33% - 13px);
    margin: 0 auto;
}

.md-container .License-list a {
    border-width: 2px;
    border-style: solid;
    display: block;
    text-align: center;
    border-radius: 8px;
    padding-top: 15px;
}

.md-container .License-list span {
    padding: 0 10px;
    display: block;
}

.md-container .License-list .License-button__project {
    padding-bottom: 3px;
}

.md-container .License-list .License-button__title {
    font-weight: bold;
    font-size: 24px;
}

.md-container .License-list .License-button__license {
    padding-bottom: 7px;
}

.md-container .License-list .License-button__for {
    font-style: italic;
}

.md-container .License-list .License-button__price {
    background-color: #03a9f4;
    padding: 15px 10px;
    margin-top: 15px;
}

.md-container .License-list .License-button__price__euro {
    display: inline-block;
    color: #fff;
    padding: 0;
}

.md-container .License-list .License-button__price__value {
    display: inline-block;
    color: #fff;
    padding: 0;
    font-weight: bold;
}

/* Feature page : iPad and iPhone */
.wrapper-screenshot-touch img {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
}

.wrapper-screenshot-touch img:last-child {
    max-width: 27%;
    margin-left: -80px;
}

@media screen and (max-width: 750px) {
    /* Download page : License blocs */
    .md-container .License-list {
        display: block;
    }

    .md-container .License-list li {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .md-container .License-list li:first-child {
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    /* Feature page : iPad and iPhone */
    .wrapper-screenshot-touch img {
        display: inline-block;
        width: 100%;
    }

    .wrapper-screenshot-touch img:last-child {
        max-width: 60%;
        margin-left: 0;
    }
}
