.storelocator {
	&-detailStore {
		position: relative;
		font-size: 13px;
		color: #000;
	}

	&-detailStoreTitle {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 16px;
		display: block;
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
	}

	&-detailStoreAddress {
		display: block;
		padding-bottom: 12px;
		padding-right: 90px;
	}

	&-detailStorePhone {
		display: block;
		text-decoration: none;
		color: #000;
	}