.storelocator {
	.leaflet-marker-icon {
		&.userLocation {
			svg {
				fill: #4285f4;
			}
		}
	}

	.leaflet-popup-content-wrapper {
		box-shadow: none;
		border-radius: 10px;
	}

	.leaflet-control-geosearch {
		position: absolute;
		top: 20px;
		right: 20px;
		margin: 0;
		width: calc(100% - 40px);
		box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
		max-width: 100%;

		form {
			border: 0;
			box-shadow: none;

			input {
				height: 40px;
				font-size: 15px;
			}

			.reset {
				line-height: 40px;
			}

			.results {
				font-size: 14px;
			}
		}
	}

	.leaflet-control-zoom {
		border: none;

		.leaflet-control-zoom-in,
		.leaflet-control-zoom-out {
			border: none;
			box-shadow: none;
		}
	}
}

@media (--media-tablet) {
	.storelocator {
		.leaflet-control-geosearch {
			width: 100%;
			max-width: 350px;
		}
	}
}
