.formSearch {
	position: relative;
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: #fff;

	&-input {
		width: 100%;
		height: 40px;
		padding-left: 10px;
		font-size: 15px;
		border: none;
		outline: none;
		box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
	}
}

@media (--media-tablet) {
	.formSearch {
		height: auto;
		z-index: 5;
		border-radius: 5px 5px 0 0;
		box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
	}
}
