.storelocator {
	--sl-markerSearchColor: #107a8b;
	--sl-markerGeolocationColor: #1da1f2;
	--sl-colorSecondary: #b9b8b8;
	--sl-transition: 0.25s ease;
}

@custom-media --media-tablet only screen and (min-width: 750px);
