.sl {
	&-map {
		position: relative;
		aspect-ratio: 1/1;
		max-height: 100vh;
	}

	&-mapCanvas {
		width: 100%;
		height: 100%;
	}

	&-button {
		width: 40px;
		height: 40px;
		background-color: #fff;
		z-index: 500;
		border: none;
		cursor: pointer;
		border-radius: 10px;
		appearance: none;
		outline: none;
		color: inherit;
		font-size: inherit;
		font-family: inherit;
		transition: opacity var(--sl-transition);
		opacity: 0.9;

		* {
			pointer-events: none;
		}

		&:hover {
			opacity: 1;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 20px;
			height: 20px;
			transition: fill var(--sl-transition);
			fill: var(--sl-controlsColor);
		}
	}

	&-geolocButton {
		position: absolute;
		top: 15px;
		right: 15px;

		&.sl-error {
			cursor: not-allowed;

			svg {
				fill: var(--sl-colorSecondary);
			}
		}

		&.sl-active svg {
			fill: var(--sl-markerGeolocationColor);
		}
	}

	&-zoomInButton {
		position: absolute;
		bottom: 75px;
		right: 15px;
	}

	&-zoomOutButton {
		position: absolute;
		bottom: 20px;
		right: 15px;
	}

	&-marker {
		width: 20px;
		height: 20px;
	}
}

@media (--media-tablet) {
	.sl {
		&-geolocButton {
			top: 15px;
		}
	}
}
