.sl {
	&-map {
		aspect-ratio: 1/1;
		display: none;

		&.sl-active {
			display: block;
		}
	}

	&-geolocButton {
		position: absolute;
		top: 125px;
		right: 15px;
		width: 40px;
		height: 40px;
		background-color: #fff;
		z-index: 500;
		border: none;
		cursor: pointer;
		border-radius: 10px;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 20px;
			height: 20px;
			transition: opacity var(--sl-transition);
		}

		&.sl-error {
			svg {
				opacity: 0.2;
			}
		}

		&.sl-active svg {
			fill: var(--sl-blue);
		}
	}

	&-marker {
		width: 20px;
		height: 20px;

		&.sl-marker-geolocation {
			--sl-marker-fill: var(--sl-blue);
		}
	}
}

@media (--media-tablet) {
	.sl {
		&-map {
			aspect-ratio: auto;
			height: 100vh;
		}

		&-geolocButton {
			top: 15px;
		}
	}
}
